<% layout('layouts/boilerplate')%>

<div style="background-color: black; color: white">
  <br />
  <br />

  <div class="text-center">
    <h1
      style="
        font-family: Monoton;
        width: 33px;
        margin: auto;
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
          0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
      "
    >
      Edit Post
    </h1>
  </div>

  <br />
  <br />
</div>

<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-6 offset-3">
    <form
      action="/posts/<%=post._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="username">UserName</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="post[username]"
          value="<%=post.username%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="post[location]"
          value="<%=post.location%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      
      
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="post[description]"
          rows="3"
          required><%=post.description%></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update post</button>
      </div>
      
    </form>

    

    <a
      href="http://localhost:3000/posts/<%= post._id%>"
      class="btn btn-primary mb-2"
      role="button"
    >
      Back to Post
    </a>
  </div>
</div>
