<% layout('layouts/boilerplate')%>

<div style="
background-color: black;
color: white;
">


<br>
<br>

  <div class="text-center">
    <h1 style="
      font-family: Monoton;
      width: 33px;
      margin: auto;
      color: #fff;
      text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
    ">Edit Post
    </h1>
  </div>

  <br>
  <br>

  <div style="width: 644px; margin: auto;">
    <form action="/posts/<%= post._id%>?_method=PUT" method="POST">

      <div class="form-group">
        <label for="title">Description</label>
        <textarea
          class="form-control form-control-lg"
          type="text"
          id="title"
          name="post[title]"
          rows="1"
        ><%= post.description %></textarea>
      </div>

      <div class="form-group">
        <label for="Location">UserName</label>
        <textarea
          class="form-control form-control-lg"
          type="text"
          id="location"
          name="post[location]"
          rows="1"
        ><%= post.username %></textarea>
      </div>

      <div class="form-group">
        <label for="Location">Location</label>
        <textarea
          class="form-control form-control-lg"
          type="text"
          id="location"
          name="post[location]"
          rows="1"
        ><%= post.location %></textarea>
      </div>

      <div class="form-group">
        <label for="url">URL</label>
        <textarea
          class="form-control form-control-lg"
          type="text"
          id="url"
          name="post[url]"
          rows="4"
        ><%= post.url %></textarea>
      </div>

      <br>

      <button class="btn btn-primary mb-2">Update Post</button>
    </form>

    <form action="/posts/<%= post._id%>?_method=DELETE" method="POST">
      <button class="btn btn-danger mb-2">Delete</button>
    </form>

    <a
      href="http://localhost:3000/posts/<%= post._id%>"
      class="btn btn-primary mb-2"
      role="button"
    >
      Back to Post
    </a>
  </div>
</div>
