<% layout('layouts/boilerplate')%>

<div style="background-color: black; color: white">
  <br />
  <br />

  <div class="text-center">
    <h1
      style="
        font-family: Monoton;
        width: 33px;
        margin: auto;
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
          0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
      "
    >
      Edit Post
    </h1>
  </div>

  <br />
  <br />
</div>

<% layout('layouts/boilerplate')%>





<% layout('layouts/boilerplate')%>
<div class="row">
    
    <div class="col-md-6 offset-md-3">
        <form action="/posts/<%=post._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
           

            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" id="username" name="post[username]"
                  value="<%=post.username %>" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
          </div>
            
            
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="post[location]"
                    value="<%=post.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="post[description]"
                    required><%= post.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% post.images.forEach(function(img, i) {  %>

                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Post</button>
            </div>
        </form>
        <a href="/posts/<%= post._id%>">Back To Post</a>

    </div>
</div>



































<!-- 
<div class="row">
  <div class="col-6 offset-3">
    <form
      action="/posts/<%=post._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="username">UserName</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="post[username]"
          value="<%=post.username%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="post[location]"
          value="<%=post.location%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      
      
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="post[description]"
          rows="3"
          required><%=post.description%></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update post</button>
      </div>
      
    </form>

    

    <a
      href="http://localhost:3000/posts/<%= post._id%>"
      class="btn btn-primary mb-2"
      role="button"
    >
      Back to Post
    </a>
  </div>
</div> -->
