<% layout('layouts/boilerplate') %>

<!-- whole body -->
<div style="background-color: black; color: white;">


  <div class="container d-flex align-items-center justify-content-center">
<div>

    <div class="row">

      <div class="col">

    <div class="text-center">
        <h1 style="
        font-family: Monoton; 
        margin:auto; 
        color: #fff; text-shadow:0 0 7px #fff,0 0 10px #fff,0 0 21px #fff,0 0 42px #0fa,0 0 82px #0fa,0 0 92px #0fa,0 0 102px #0fa,0 0 151px #0fa;
        ">All Posts</h1>
    </div>


  </div>
  </div>

  
    <br>
    <br>
    <br>

    <!--
    <br>

    <input type="checkbox" id="btnControl"/>
    <label class="btn" for="btnControl"><img src="https://placekitten.com/200/140" id="btnLeft" /></label>

    <br>
    <br>
    <br> -->

    <div class="container d-flex align-items-center justify-content-center">
        <div>

            <div class="container">
                <div class="row">

                    <div class="col">
                        <% for (let post of posts){%>
                        <div class="card" style="width: 44rem; background-color: black; color: white;">

                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <img class="" style="border-radius:50%; width:22px;" src="https://www.w3schools.com/howto/img_avatar.png"></img>
                                    </div>
                                    <div class="col-10" style="line-height:.7;">
                                        <p><b><%= post.username %></b></p>
                                        <p><%= post.location %> </p>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <img src="<%= post.images[0].url %>" class="card-img-top" alt="Image for post" style="max-width:93%"/>
                            <div class="card-body">
                                <div>
                                    <%= post.likes %> likes 
                                    <i class="fa fa-heart-o"></i>
                                    <i class="fa fa-comment-o"></i>
                                    <i class="fa fa-send-o"></i>
                                    <i class="fa fa-bookmark-o" style="float: right; margin: 5px;"></i>
                                    <p class="card-title"><b><%= post.username %></b>&#160 &nbsp<%= post.description %></p>
                                </div>
                            </div>

                            <div class="card-body">
                                <p class="card-title text-muted"><%= post._id %></p>
                                <p class="blockquote-footer"><%= new Date().toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric", hour:"numeric", minute:"numeric"}) %></p>
                                <a href="http://localhost:3000/posts/<%= post._id %>" class="btn btn-primary">Details</a>
                            </div>

                            <br>

                        </div>
                        <br>
                        <% } %>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- whole body -->
</div>


